<div class = "container">
  <div class = "row">
    <div class = "col-sm-8 mx-auto my-5">
      <h1 class = "mb-5">Schedule editing</h1>
      <%= form_with model: @event, url: event_path(@event), local:true do |f| %>
        <table class = "table table-striped">
          <tbody>
            <tr>
              <th class = "text-center"><%= f.label :スケジュール名 %></th>
              <td><%= f.text_field :title, placeholder: "スケジュール名", class: "form-control" %></td>
            </tr>
            <tr>
              <th class = "text-center"><%= f.label :スケジュール内容 %></th>
              <td><%= f.text_area :description, placeholder: "スケジュール内容", class: "form-control" %></td>
            </tr>
            <tr>
              <th class = "text-center"><%= f.label :開始日時 %></th>
              <td><%= f.datetime_field :start_at, class: "form-control" %></td>
            </tr>
            <tr>
              <th class = "text-center"><%= f.label :終了日時 %></th>
              <td><%= f.datetime_field :end_at, class: "form-control" %></td>
            </tr>
            <tr>
              <th></th>
              <td><%= f.submit "変更内容を保存", class: "btn btn-primary btn-block" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>