<div class = "container">
  <div class = "row">
    <div class = "col-sm-12 my-5">
      <!--about-->
      <div class = "d-flex pb-5">
        <%= image_tag 'new.png' %>
          <div class = "text-center mx-auto">
            <%= image_tag 'about.png', size: "400x130", class: "my-3" %>
              <h5 class = "what mt-5">
                <strong>ほめホメ</strong>とは、<br />
                その日<strong>達成したいこと</strong>や<strong>頑張りたいこと</strong>などの<br />
                目標を共有しあい、<br />
                達成できたときに<br />
                ユーザみんなで<strong>褒め合う</strong>ことのできるサイトです。
              </h5>
          </div>
      </div>
      
      <!--howto1-->
      <div class = "d-flex my-5">
        <div class = "text-center mx-auto">
          <%= image_tag 'howto.png', size: "400x130", class: "mt-5" %>
            <div class = "how mt-5">
              <h5 class = "font-weight-bold">
                1.日付を指定して、その日の目標を3つ投稿しましょう
              </h5>
              <p>目標は1つでも、簡単なことでも構いません。</p>
            </div>
        </div>
        <div class = "img_wrap">
          <%= image_tag 'image1.jpg', size: "500x500" %>
        </div>
      </div>
      
      <!--howto2-->
      <div class = "d-flex my-5">
        <div class = "img_wrap">
          <%= image_tag 'image2.png' %>
        </div>
        <div class = "how text-center m-auto">
          <h5 class = "font-weight-bold">
            2.自分が投稿した目標が達成できたら達成に変更！
          </h5>
          <p>投稿一覧のStatusが実行中から達成に更新されます。</p>
        </div>
      </div>
      
      <!--howto3-->
      <div class = "d-flex my-5">
        <div class = "how text-center m-auto">
          <h5 class = "font-weight-bold">
            3.みんなで褒め合いましょう
          </h5>
          <p>
            Statusが達成になると他のユーザがあなたを褒めてくれます！<br />
            他のユーザのStatusが達成になっているときは、<br />
            ほめホメボタンやコメントを利用して<br />
            積極的に褒めにいきましょう！
          </p>
        </div>
        <div class = "img_wrap">
          <%= image_tag 'home.png', size: "500x500" %>
        </div>
      </div>
      
      <!--howto4-->
      <div class = "d-flex my-5">
        <div class = "img_wrap">
          <%= image_tag 'image4.jpg', size: "500x500" %>
        </div>
        <div class = "how text-center m-auto">
          <h5 class = "font-weight-bold">
            4.マイカレンダーでスケジュール管理をしてみましょう
          </h5>
          <p>
            マイカレンダーを見ながら目標を考えることで、<br />
            より明確な目標が立てやすくなっています。<br />
            マイカレンダーは日記として活用しても構いません。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>