<div class = "container">
  <div class = "row">
    <div class = "col-sm-6 my-5">
      <h2 class = "mb-5">新規登録画面</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class = "field">
          <%= f.label :名前 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name", class: "form-control" %>
        </div>

        <div class = "field mt-3">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com", class: "form-control" %>
        </div>

        <div class = "field my-3">
          <%= f.label :パスワード（６文字以上） %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

        <div class = "field">
          <%= f.label :パスワード（確認用） %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class = "actions">
          <%= f.submit "Sign up", class: "btn btn-primary btn-block my-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>