<div class = "container">
  <div class = "row">
    <div class = "col-sm-8 mx-auto my-5">
      <h1 class = "mb-5"><%= @user.name %>さんのユーザ編集</h1>
      <%= render 'layouts/errors', obj: @user %>
      <table class = "table table-striped">
        <tbody>
          <%= form_with model: [:admin, @user], local:true do |f| %>
          <tr>
            <th>ユーザID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>名前</th>
            <td><%= f.text_field :name, class: "form-control" %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email, class: "form-control" %></td>
          </tr>
          <tr>
            <th>ユーザステータス</th>
            <td>
              <%= f.radio_button :is_deleted, :false %>有効
              <%= f.radio_button :is_deleted, :true %>退会
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <%= f.submit "変更内容を保存", class: "btn btn-primary mr-3" %>
              <%= link_to "キャンセル", admin_user_path(@user), class: "btn btn-outline-info" %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>